Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland, pull requests merged in 2023-03, with the labels that each got.

#23 sl-00: fix pre-commit linting
  .lintstagedrc.yml
  backend/.lintstagedrc.yml
  backend/package.json
  frontend/.lintstagedrc.yml
  frontend/package.json
  frontend/src/libs/components/button/button.tsx
  shared/.lintstagedrc.yml
  shared/package.json
Labels: sl-v1, shared, backend, frontend, development

#24 sl-00: add nodemon for be starting, more clear staged lint config
  backend/.lintstagedrc.yml
  backend/package.json
  frontend/.lintstagedrc.yml
  frontend/package.json
  package-lock.json
  shared/.lintstagedrc.yml
  shared/package.json
Labels: sl-v1, shared, backend, frontend, development, root

#25 sl-10: Sign up
  frontend/index.html
  frontend/package.json
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/background-image.svg
  frontend/src/assets/img/background-pattern.png
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/libs/components/page-layout/page-layout.tsx
  frontend/src/libs/components/page-layout/styles.module.scss
  frontend/src/libs/helpers/get-valid-class-names/get-valid-class-names.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
  package-lock.json
  shared/src/packages/users/libs/enums/enums.ts
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: sl-v1, shared, frontend, development, root

#34 sl-6: + sign_in
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/users/users.ts
  shared/src/index.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-sign-in-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Labels: sl-v1, shared, backend, development

#27 sl-5: Sign In page
  .ls-lint.yml
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/components/page-layout/styles.module.scss
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/auth/components/sign-in-form/libs/constants.ts
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/users.ts
Labels: sl-v1, shared, frontend, development, conflicts

#37 sl-17: Add root page layout
  frontend/src/assets/img/background-pattern.png
  frontend/src/index.tsx
Labels: sl-v1, frontend, development

#39 sl-12: add loader component
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/libs/components/loader/styles.module.scss
Labels: sl-v1, frontend, development

#36 sl-7: Sign Up
  backend/src/db/migrations/20230313124649_add_user_details_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  shared/src/packages/users/libs/types/user-get-all-item-response-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Labels: sl-v1, shared, backend, development

#32 sl-15: * created a not-found page
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/not-found/not-found.module.scss
  frontend/src/pages/not-found/not-found.tsx
Labels: sl-v1, frontend, development

#38 sl-20: Sites GET and POST / endpoints
  backend/src/db/migrations/20230315143040_add_sites_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/sites/libs/enums/enums.ts
  backend/src/packages/sites/libs/types/types.ts
  backend/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/sites/site.entity.ts
  backend/src/packages/sites/site.model.ts
  backend/src/packages/sites/site.repository.ts
  backend/src/packages/sites/site.service.ts
  backend/src/packages/sites/sites.ts
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/packages/sites/libs/enums/enums.ts
  shared/src/packages/sites/libs/enums/sites-api-path.enum.ts
  shared/src/packages/sites/libs/types/site-create-request-dto.type.ts
  shared/src/packages/sites/libs/types/site-create-response-dto.type.ts
  shared/src/packages/sites/libs/types/site-get-all-item-response-dto.type.ts
  shared/src/packages/sites/libs/types/site-get-all-response-dto.type.ts
  shared/src/packages/sites/libs/types/types.ts
  shared/src/packages/sites/libs/validation-schemas/site-create.validation-schema.ts
  shared/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sites/sites.ts
Labels: sl-v1, shared, backend, development

#45 sl-19: Projects GET and POST / endpoints
  backend/src/db/migrations/20230316144349_add_projects_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/projects/libs/enums/enums.ts
  backend/src/packages/projects/libs/types/types.ts
  backend/src/packages/projects/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/projects/project.controller.ts
  backend/src/packages/projects/project.entity.ts
  backend/src/packages/projects/project.model.ts
  backend/src/packages/projects/project.repository.ts
  backend/src/packages/projects/project.service.ts
  backend/src/packages/projects/projects.ts
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/packages/projects/libs/enums/enums.ts
  shared/src/packages/projects/libs/enums/project-validation-message.enum.ts
  shared/src/packages/projects/libs/enums/projects-api-path.enum.ts
  shared/src/packages/projects/libs/types/project-create-request-dto.type.ts
  shared/src/packages/projects/libs/types/project-create-response-dto.type.ts
  shared/src/packages/projects/libs/types/project-get-all-item-response-dto.type.ts
  shared/src/packages/projects/libs/types/project-get-all-response-dto.type.ts
  shared/src/packages/projects/libs/types/types.ts
  shared/src/packages/projects/libs/validation-schemas/project-create.validation-schema.ts
  shared/src/packages/projects/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/projects/projects.ts
Labels: sl-v1, shared, backend, development

#46 sl-41: * user validation rules
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
Labels: sl-v1, shared, development

#31 sl-14: fix routes component
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/slices/auth/auth.slice.ts
Labels: sl-v1, frontend, development, conflicts

#40 sl-9: jwt
  backend/package.json
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/libs/interfaces/service.interface.ts
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/interfaces/config.interface.ts
  backend/src/libs/packages/config/libs/types/auth-config.type.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/config/libs/types/types.ts
  backend/src/libs/packages/token/libs/interfaces.ts
  backend/src/libs/packages/token/libs/token.interface.ts
  backend/src/libs/packages/token/token.package.ts
  backend/src/libs/packages/token/token.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/auth.ts
  backend/src/packages/auth/libs/exceptions/exceptions.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  frontend/src/libs/packages/config/config.package.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/auth/actions.ts
  package-lock.json
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-auth-response.type.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
  shared/src/packages/users/users.ts
Labels: sl-v1, shared, backend, frontend, development, root

#47 sl-21: Authorization plugin
  backend/src/index.d.ts
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/packages/controller/controller.package.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/libs/packages/server-application/libs/constants/constants.ts
  backend/src/libs/packages/server-application/libs/constants/white-routes.constants.ts
  backend/src/libs/packages/server-application/libs/types/types.ts
  backend/src/libs/packages/server-application/libs/types/white-route.type.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/libs/packages/token/libs/token.interface.ts
  backend/src/libs/packages/token/token.package.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/libs/plugins/authorization/libs/types/authorization-plugin-parameters.type.ts
  backend/src/libs/plugins/authorization/libs/types/types.ts
  backend/src/libs/plugins/plugins.ts
  backend/src/packages/auth/auth.ts
  backend/src/packages/users/user.repository.ts
  backend/tsconfig.json
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
Labels: sl-v1, shared, backend, development

#42 sl-18: Add Stepper component
  frontend/package.json
  frontend/src/assets/img/arrow-left.svg
  frontend/src/assets/img/arrow-right.svg
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/libs/components/icon-button/styles.module.scss
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/stepper/stepper.tsx
  frontend/src/libs/components/stepper/styles.module.scss
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-stepper/use-app-stepper.hook.ts
  frontend/src/libs/types/icon.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  package-lock.json
Labels: sl-v1, frontend, development, root

#30 sl-13: add error handler/notifications
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/toastr/notification.tsx
  frontend/src/libs/packages/notification/libs/enums/enums.ts
  frontend/src/libs/packages/notification/libs/enums/notification-type.enum.ts
  frontend/src/libs/packages/notification/notification.package.ts
  frontend/src/libs/packages/notification/notification.ts
  frontend/src/libs/packages/store/middlewares/handle-error.ts
  frontend/src/libs/packages/store/middlewares/middlewares.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/app/actions.ts
  frontend/src/slices/app/app.slice.ts
  frontend/src/slices/app/app.ts
  package-lock.json
Labels: sl-v1, frontend, development, root

#54 sl-11: Refetch user after page refresh
  backend/src/libs/packages/controller/controller.package.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  frontend/src/libs/components/app/app.tsx
  frontend/src/packages/auth/auth-api.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
Labels: sl-v1, shared, backend, frontend, development

#53 sl-51: Modal component
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/cross.svg
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/types/icon.type.ts
Labels: sl-v1, frontend, development

#55 sl-49: Profile page
  backend/src/db/migrations/20230321104929_add_account_name_column_to_user_details.ts
  backend/src/libs/interfaces/repository.interface.ts
  backend/src/libs/interfaces/service.interface.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  frontend/src/index.tsx
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/users/users-api.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/account-settings/account-settings.tsx
  frontend/src/pages/account-settings/components/components.ts
  frontend/src/pages/account-settings/components/profile/profile.tsx
  frontend/src/pages/account-settings/components/profile/styles.module.scss
  frontend/src/pages/account-settings/styles.module.scss
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/users/actions.ts
  frontend/src/slices/users/users.ts
  readme.md
  shared/src/index.ts
  shared/src/libs/packages/http/libs/types/http-method.type.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-auth-response.type.ts
  shared/src/packages/users/libs/types/user-update-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-update.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Labels: sl-v1, shared, backend, frontend, development, root

#35 sl-8: Select Component wrapper
  frontend/package.json
  frontend/src/assets/img/icons/search.svg
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/select/select.module.scss
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/components/select/styles.ts
  frontend/src/libs/types/select-option.type.ts
  frontend/src/libs/types/types.ts
  package-lock.json
Labels: sl-v1, frontend, development, root

#73 sl-3: Setup deployment
  .github/workflows/cd.yml
  backend/.env.example
  backend/package.json
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/libs/plugins/authorization/libs/constants/constants.ts
  backend/src/libs/plugins/authorization/libs/constants/served-page-path.constants.ts
  frontend/package.json
  package-lock.json
  package.json
  prepare-build.sh
Labels: sl-v1, backend, frontend, development, root, workflows, ENV

#72 sl-68: Fix sign-up validation on the frontend
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
Labels: sl-v2, shared, development

#64 sl-60: Sections by site enpoint
  backend/src/db/migrations/20230323090957_add_sections_table.ts
  backend/src/db/migrations/20230323091509_add_sites_to_sections_table_and_relations.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/packages/sections/libs/enums/enums.ts
  backend/src/packages/sections/libs/types/types.ts
  backend/src/packages/sections/section.entity.ts
  backend/src/packages/sections/section.model.ts
  backend/src/packages/sections/section.repository.ts
  backend/src/packages/sections/section.service.ts
  backend/src/packages/sections/sections.ts
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/sites/site.model.ts
  backend/src/packages/sites/site.service.ts
  readme.md
  shared/src/index.ts
  shared/src/packages/sections/libs/enums/enums.ts
  shared/src/packages/sections/libs/enums/section-type.enum.ts
  shared/src/packages/sections/libs/types/section-get-all-item-response-dto.type.ts
  shared/src/packages/sections/libs/types/section-get-all-response-dto.type.ts
  shared/src/packages/sections/libs/types/types.ts
  shared/src/packages/sections/sections.ts
  shared/src/packages/sites/libs/enums/sites-api-path.enum.ts
Labels: sl-v2, shared, backend, development, root

#63 sl-62: start page
  frontend/src/index.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/page-layout/page-layout.tsx
  frontend/src/libs/components/stepper/stepper.tsx
  frontend/src/libs/components/stepper/styles.module.scss
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/start/start.tsx
  frontend/src/pages/start/styles.module.scss
Labels: sl-v2, frontend, development

#79 sl-58: User logout functionality
  frontend/src/libs/components/header/header.tsx
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
Labels: sl-v2, frontend

#82 sl-80: Fix sign-up validation on the frontend and backend
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
Labels: sl-v2, shared, development

#70 sl-65: My projects empty placeholder
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/link/link.tsx
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/pages/my-projects/styles.module.scss
Labels: sl-v2, frontend

#84 sl-83: Fix error display sign-up validation on frontend
  frontend/src/libs/components/input/input.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: sl-v2, frontend, development

#87 sl-58: add user logout functionality
  frontend/src/libs/components/header/header.tsx
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
Labels: sl-v2

#92 sl-81: Add account name
  frontend/src/libs/components/header/header.tsx
Labels: sl-v2, frontend, development

#101 sl-80: Fix sign-up validation on the frontend and backend
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
Labels: sl-v2, shared, development

#108 sl-106: Fix JWT token error
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/packages/auth/auth.service.ts
  frontend/src/slices/auth/actions.ts
Labels: sl-v2, backend, frontend, development

#103 sl-89: Add logo open graph and favico
  frontend/index.html
  frontend/public/favicon.svg
  frontend/public/logo.og.png
  frontend/public/vite.svg
  frontend/src/assets/img/logo.svg
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/styles.module.scss
Labels: sl-v2, frontend, development

#115 sl-65: Fixed wrong background color
  frontend/src/pages/my-projects/my-projects.tsx
Labels: frontend, development, sl-v3

#111 sl-91: Сreate business functionality
  backend/src/packages/projects/libs/types/types.ts
  backend/src/packages/projects/project.controller.ts
  backend/src/packages/projects/project.service.ts
  frontend/src/assets/img/plus.svg
  frontend/src/index.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/components/page-layout/styles.module.scss
  frontend/src/libs/types/icon.type.ts
  frontend/src/packages/projects/libs/types/types.ts
  frontend/src/packages/projects/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/projects/projects-api.ts
  frontend/src/packages/projects/projects.ts
  frontend/src/pages/my-projects/components/components.ts
  frontend/src/pages/my-projects/components/create-project-form/create-project-modal.tsx
  frontend/src/pages/my-projects/components/create-project-form/libs/constants.ts
  frontend/src/pages/my-projects/components/create-project-form/styles.module.scss
  frontend/src/pages/my-projects/components/project-card/styles.module.scss
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/pages/my-projects/styles.module.scss
  frontend/src/pages/sites/styles.module.scss
  frontend/src/slices/projects/actions.ts
  frontend/src/slices/projects/projects.slice.ts
  frontend/src/slices/projects/projects.ts
  shared/src/index.ts
  shared/src/packages/projects/libs/types/project-create-dto.type.ts
  shared/src/packages/projects/libs/types/project-create-request-dto.type.ts
  shared/src/packages/projects/libs/types/types.ts
  shared/src/packages/projects/libs/validation-schemas/project-create.validation-schema.ts
  shared/src/packages/projects/projects.ts
Labels: sl-v2, shared, backend, frontend, development

#116 sl-104: Fix profile data update account name no pattern
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-update.validation-schema.ts
Labels: shared, development, sl-v3

#107 sl-77: ChatGPT Integration
  backend/.env.example
  backend/package.json
  backend/src/db/migrations/20230326122505_delete_name_column_from_sections.ts
  backend/src/db/migrations/20230326124323_alter_type_enum_in_sections.ts
  backend/src/libs/helpers/helpers.ts
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/libs/packages/open-ai/open-ai.ts
  backend/src/packages/sections/libs/types/types.ts
  backend/src/packages/sections/section.entity.ts
  backend/src/packages/sections/section.model.ts
  backend/src/packages/sections/section.repository.ts
  backend/src/packages/sections/section.service.ts
  backend/src/packages/sites/libs/constants/constants.ts
  backend/src/packages/sites/libs/constants/prompt.constants.ts
  backend/src/packages/sites/libs/maps/maps.ts
  backend/src/packages/sites/libs/maps/section-type-to-prompt.map.ts
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/sites/site.entity.ts
  backend/src/packages/sites/site.model.ts
  backend/src/packages/sites/site.repository.ts
  backend/src/packages/sites/site.service.ts
  package-lock.json
  readme.md
  shared/src/index.ts
  shared/src/libs/helpers/helpers.ts
  shared/src/libs/helpers/init-async-items-queue/init-async-items-queue.helper.ts
  shared/src/packages/sections/libs/enums/section-type.enum.ts
  shared/src/packages/sections/libs/types/section-get-all-item-response-dto.type.ts
  shared/src/packages/sections/libs/types/site-footer-content.type.ts
  shared/src/packages/sections/libs/types/site-header-content.type.ts
  shared/src/packages/sections/libs/types/site-main-content.type.ts
  shared/src/packages/sections/libs/types/types.ts
  shared/src/packages/sections/sections.ts
  shared/src/packages/sites/libs/types/site-create-request-dto.type.ts
  shared/src/packages/sites/libs/validation-schemas/site-create.validation-schema.ts
Labels: sl-v2, shared, backend, development, root, ENV

#123 sl-114: Site page
  backend/src/libs/packages/server-application/libs/constants/white-routes.constants.ts
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/sites/sites.ts
  frontend/public/fonts/bn-chester.otf
  frontend/public/fonts/gilroy-bold.woff
  frontend/public/fonts/gilroy-medium.woff
  frontend/public/fonts/gilroy-regular.woff
  frontend/src/assets/css/fonts.scss
  frontend/src/assets/css/styles.scss
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/sections/libs/enums/enums.ts
  frontend/src/packages/sections/libs/types/types.ts
  frontend/src/packages/sections/sections-api.ts
  frontend/src/packages/sections/sections.ts
  frontend/src/pages/site/components/components.ts
  frontend/src/pages/site/components/footer/footer.tsx
  frontend/src/pages/site/components/footer/styles.module.scss
  frontend/src/pages/site/components/header/header.tsx
  frontend/src/pages/site/components/header/styles.module.scss
  frontend/src/pages/site/components/main/main.tsx
  frontend/src/pages/site/components/main/styles.module.scss
  frontend/src/pages/site/site.tsx
  frontend/src/pages/site/styles.module.scss
  frontend/src/slices/sections/actions.ts
  frontend/src/slices/sections/sections.slice.ts
  frontend/src/slices/sections/sections.ts
  shared/src/packages/sites/libs/enums/sites-api-path.enum.ts
Labels: shared, backend, frontend, development, sl-v3

#124 sl-119: Clickable username in header
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/popover/styles.module.scss
Labels: frontend, development, sl-v3

#128 sl-118: Clickable logo
  frontend/src/libs/components/header/header.tsx
Labels: frontend, development, sl-v3

#127 sl-121: rule of showing Add business button
  frontend/src/pages/my-projects/my-projects.tsx
Labels: frontend, development, sl-v3

#130 sl-122: redirect to Project page
  frontend/src/index.tsx
  frontend/src/pages/root/root.tsx
Labels: frontend, development, sl-v3

#129 sl-117: First and last name validation
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
Labels: shared, development, sl-v3

#134 sl-120: Fix swagger access
  backend/src/libs/packages/server-application/libs/constants/white-routes.constants.ts
Labels: backend, development, sl-v3

#132 sl-126: Page Not Found design
  frontend/src/pages/not-found/not-found.tsx
  frontend/src/pages/not-found/styles.module.scss
Labels: frontend, development, sl-v3

#133 sl-102: Reset button functionality
  frontend/src/pages/account-settings/components/profile/profile.tsx
Labels: frontend, development, sl-v3

#149 sl-118: Clickable logo
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/pages/account-settings/account-settings.tsx
  frontend/src/pages/account-settings/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Labels: frontend, development, sl-v3
