Repository BinaryStudioAcademy/bsa-winter-2022-2023-simpleland, pull requests merged in 2023-04, with the labels that each got.

#150 sl-135: business to project
  frontend/src/pages/my-projects/components/create-project-form/create-project-modal.tsx
  frontend/src/pages/my-projects/my-projects.tsx
Labels: frontend, development, sl-v3

#125 sl-98: change password functionality
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/users/users-api.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/account-settings/components/login/components/components.ts
  frontend/src/pages/account-settings/components/login/components/create-password-form/create-password-form.tsx
  frontend/src/pages/account-settings/components/login/components/create-password-form/libs/constants.ts
  frontend/src/pages/account-settings/components/login/components/create-password-form/styles.module.scss
  frontend/src/pages/account-settings/components/login/login.tsx
  frontend/src/slices/users/actions.ts
  frontend/src/slices/users/users.ts
  shared/src/index.ts
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/enums/users-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-update-password-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-update-password.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Labels: shared, backend, frontend, sl-v3

#151 sl-120: Fix swagger access
  backend/src/libs/packages/server-application/libs/constants/white-routes.constants.ts
Labels: backend, development, sl-v3

#110 sl-66: start stepper – Project name
  backend/src/packages/sites/libs/types/types.ts
  backend/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/sites/site.entity.ts
  backend/src/packages/sites/site.repository.ts
  backend/src/packages/sites/site.service.ts
  backend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/index.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/stepper/stepper.tsx
  frontend/src/libs/components/stepper/styles.module.scss
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/packages/sites/libs/types/types.ts
  frontend/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/sites/sites-api.ts
  frontend/src/packages/sites/sites.ts
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/pages/account-settings/components/login/components/create-password-form/create-password-form.tsx
  frontend/src/pages/account-settings/components/login/components/update-login-form/update-login-form.tsx
  frontend/src/pages/account-settings/components/login/login.tsx
  frontend/src/pages/account-settings/components/profile/profile.tsx
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/my-projects/components/create-project-form/create-project-modal.tsx
  frontend/src/pages/my-projects/components/project-card/project-card.tsx
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/pages/sites/sites.tsx
  frontend/src/pages/sites/styles.module.scss
  frontend/src/pages/start/libs/components/components.ts
  frontend/src/pages/start/libs/components/final-form/final-form.tsx
  frontend/src/pages/start/libs/components/project-name-form/libs/constants.ts
  frontend/src/pages/start/libs/components/project-name-form/project-name-form.tsx
  frontend/src/pages/start/libs/components/project-name-form/styles.module.scss
  frontend/src/pages/start/libs/constants.ts
  frontend/src/pages/start/start.tsx
  frontend/src/pages/start/styles.module.scss
  frontend/src/slices/app/actions.ts
  frontend/src/slices/app/app.slice.ts
  frontend/src/slices/app/app.ts
  frontend/src/slices/sites/actions.ts
  frontend/src/slices/sites/sites.ts
  shared/src/index.ts
  shared/src/libs/helpers/configure-string/configure-string.helper.ts
  shared/src/packages/sites/libs/enums/enums.ts
  shared/src/packages/sites/libs/enums/site-validation-message.enum.ts
  shared/src/packages/sites/libs/enums/site-validation-rule.enum.ts
  shared/src/packages/sites/libs/types/site-create-parameters-dto.type.ts
  shared/src/packages/sites/libs/types/site-create-step-name.type.ts
  shared/src/packages/sites/libs/types/site-get-by-project-parameters-dto.type.ts
  shared/src/packages/sites/libs/types/types.ts
  shared/src/packages/sites/libs/validation-schemas/site-create-step-name.validation-schema.ts
  shared/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sites/sites.ts
Labels: sl-v2, shared, backend, frontend, development

#148 sl-50: User avatar
  backend/.env.example
  backend/package.json
  backend/src/db/migrations/20230330135051_add_files_table.ts
  backend/src/db/migrations/20230330135710_add_user_details_to_files_relation.ts
  backend/src/index.d.ts
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/controller/controller.package.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/file/file.entity.ts
  backend/src/libs/packages/file/file.model.ts
  backend/src/libs/packages/file/file.package.ts
  backend/src/libs/packages/file/file.repository.ts
  backend/src/libs/packages/file/file.ts
  backend/src/libs/packages/file/libs/enums/enums.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/plugins/file/file.plugin.ts
  backend/src/libs/plugins/file/libs/allowed-file-mimetypes.constants.ts
  backend/src/libs/plugins/file/libs/constants.ts
  backend/src/libs/plugins/plugins.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/packages/api/http-api.ts
  frontend/src/libs/packages/file/file.ts
  frontend/src/packages/users/users-api.ts
  frontend/src/pages/account-settings/account-settings.tsx
  frontend/src/pages/account-settings/components/profile/profile.tsx
  frontend/src/pages/account-settings/components/profile/styles.module.scss
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/users/actions.ts
  frontend/src/slices/users/users.ts
  package-lock.json
  readme.md
  shared/src/index.ts
  shared/src/libs/enums/content-type.enum.ts
  shared/src/libs/packages/file/file.ts
  shared/src/libs/packages/file/libs/enums/enums.ts
  shared/src/libs/packages/file/libs/enums/form-data-key.enum.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
  shared/src/packages/users/libs/enums/users-api-path.enum.ts
  shared/src/packages/users/libs/types/user-auth-response.type.ts
Labels: shared, backend, frontend, development, root, ENV, sl-v3

#152 sl-137: Add loader for all data-fetching
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/pages/site/site.tsx
  frontend/src/pages/sites/sites.tsx
Labels: frontend, development, sl-v3

#159 sl-138: Add About section to generated site
  backend/src/db/migrations/20230402085307_alter_about_sections_type_enum_in_sections.ts
  backend/src/packages/sections/libs/types/types.ts
  backend/src/packages/sections/section.service.ts
  backend/src/packages/sites/libs/maps/section-type-to-prompt.map.ts
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/sites/site.service.ts
  frontend/src/packages/sections/libs/types/types.ts
  frontend/src/packages/sections/sections.ts
  frontend/src/pages/site/components/about/about.tsx
  frontend/src/pages/site/components/about/styles.module.scss
  frontend/src/pages/site/components/components.ts
  frontend/src/pages/site/site.tsx
  readme.md
  shared/src/index.ts
  shared/src/packages/sections/libs/enums/section-type.enum.ts
  shared/src/packages/sections/libs/types/site-about-content.type.ts
  shared/src/packages/sections/libs/types/types.ts
  shared/src/packages/sections/sections.ts
Labels: shared, backend, frontend, development, root, sl-v3

#157 sl-144: Add show password button
  frontend/src/assets/img/eye-slash.svg
  frontend/src/assets/img/eye.svg
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-toggle/use-toggle.hook.ts
  frontend/src/libs/types/icon.type.ts
  frontend/src/pages/account-settings/components/login/components/create-password-form/create-password-form.tsx
  frontend/src/pages/account-settings/components/login/components/create-password-form/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Labels: frontend, development, sl-v3

#182 sl-163: Change title on steppers
  frontend/src/pages/start/libs/components/project-name-form/project-name-form.tsx
  frontend/src/pages/start/start.tsx
Labels: frontend, development, sl-v4

#181 sl-164: Change the name of the "Next" button in a step
  frontend/src/pages/start/libs/components/project-name-form/project-name-form.tsx
Labels: frontend, development, sl-v4

#184 sl-155: The password can be changed with the same value as the current password
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-update-password.validation-schema.ts
Labels: shared, development, sl-v4

#190 sl-74: Add Tooltip component
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/tooltip/tooltip.tsx
  package-lock.json
Labels: frontend, development, root, sl-v4

#187 sl-88: Search business functionality
  backend/src/libs/packages/controller/libs/types/controller-route-parameters.type.ts
  backend/src/libs/packages/server-application/libs/types/server-app-route-parameters.type.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/packages/projects/libs/types/types.ts
  backend/src/packages/projects/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/projects/project.controller.ts
  backend/src/packages/projects/project.repository.ts
  backend/src/packages/projects/project.service.ts
  backend/src/packages/projects/projects.ts
  frontend/src/assets/img/loupe.svg
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/libs/components/select/styles.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/types/icon.type.ts
  frontend/src/packages/projects/libs/types/types.ts
  frontend/src/packages/projects/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/projects/projects-api.ts
  frontend/src/packages/projects/projects.ts
  frontend/src/pages/my-projects/libs/constants.ts
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/pages/my-projects/styles.module.scss
  frontend/src/slices/projects/actions.ts
  frontend/src/slices/projects/projects.slice.ts
  shared/src/index.ts
  shared/src/libs/helpers/helpers.ts
  shared/src/libs/helpers/init-debounce/init-debounce.helper.ts
  shared/src/packages/projects/libs/enums/project-validation-message.enum.ts
  shared/src/packages/projects/libs/types/project-filter-query-dto.type.ts
  shared/src/packages/projects/libs/types/project-get-all-parameters-dto.type.ts
  shared/src/packages/projects/libs/types/types.ts
  shared/src/packages/projects/libs/validation-schemas/project-filter.validation-schema.ts
  shared/src/packages/projects/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/projects/projects.ts
Labels: sl-v2, shared, backend, frontend, development

#169 sl-94: Upload project image functionality
  backend/src/db/migrations/20230403091546_avatar_id_url.ts
  backend/src/packages/projects/libs/types/types.ts
  backend/src/packages/projects/project.controller.ts
  backend/src/packages/projects/project.entity.ts
  backend/src/packages/projects/project.model.ts
  backend/src/packages/projects/project.repository.ts
  backend/src/packages/projects/project.service.ts
  backend/src/packages/projects/projects.ts
  frontend/src/packages/projects/libs/types/types.ts
  frontend/src/packages/projects/projects-api.ts
  frontend/src/packages/projects/projects.ts
  frontend/src/pages/my-projects/components/create-project-form/create-project-modal.tsx
  frontend/src/pages/my-projects/components/create-project-form/styles.module.scss
  frontend/src/pages/my-projects/components/project-card/project-card.tsx
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/slices/projects/actions.ts
  frontend/src/slices/projects/projects.slice.ts
  frontend/src/slices/projects/projects.ts
  shared/src/index.ts
  shared/src/packages/projects/libs/enums/projects-api-path.enum.ts
  shared/src/packages/projects/libs/types/project-get-all-item-response-dto.type.ts
  shared/src/packages/projects/libs/types/project-upload-image-dto.type.ts
  shared/src/packages/projects/libs/types/project-upload-image-parameters-dto.type.ts
  shared/src/packages/projects/libs/types/types.ts
  shared/src/packages/projects/projects.ts
Labels: shared, backend, frontend, development, sl-v3

#194 sl-95: Upload sites image functionality
  backend/src/db/migrations/20230404135108_add_image_to_sites_table.ts
  backend/src/packages/sites/site.entity.ts
  backend/src/packages/sites/site.model.ts
  backend/src/packages/sites/site.repository.ts
  backend/src/packages/sites/site.service.ts
  backend/src/packages/sites/sites.ts
  frontend/src/pages/sites/components/site-card/site-card.tsx
  readme.md
  shared/src/packages/sites/libs/types/site-create-response-dto.type.ts
  shared/src/packages/sites/libs/types/site-get-all-item-response-dto.type.ts
Labels: shared, backend, frontend, development, root, sl-v4

#112 sl-67: Stepper step idustry
  frontend/src/packages/sites/libs/types/types.ts
  frontend/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/sites/sites.ts
  frontend/src/pages/start/libs/components/components.ts
  frontend/src/pages/start/libs/components/industry-form/industry-form.tsx
  frontend/src/pages/start/libs/components/industry-form/libs/constants.tsx
  frontend/src/pages/start/libs/components/industry-form/styles.module.scss
  frontend/src/pages/start/libs/constants.ts
  frontend/src/pages/start/start.tsx
  shared/src/index.ts
  shared/src/packages/sites/libs/enums/site-validation-message.enum.ts
  shared/src/packages/sites/libs/enums/site-validation-rule.enum.ts
  shared/src/packages/sites/libs/types/site-create-step-industry.type.ts
  shared/src/packages/sites/libs/types/site-create-step-name.type.ts
  shared/src/packages/sites/libs/types/types.ts
  shared/src/packages/sites/libs/validation-schemas/site-create-step-industry.validation-schema.ts
  shared/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sites/sites.ts
Labels: sl-v2, shared, frontend, development

#183 sl-154: The error message contain extra word on the Change password page
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
Labels: shared, development, sl-v4

#198 sl-143: Add type select field to the project creation flow
  backend/src/db/migrations/20230404102938_add_project_category_in_projects_table.ts
  backend/src/packages/projects/libs/enums/enums.ts
  backend/src/packages/projects/project.controller.ts
  backend/src/packages/projects/project.entity.ts
  backend/src/packages/projects/project.model.ts
  backend/src/packages/projects/project.repository.ts
  backend/src/packages/projects/project.service.ts
  frontend/src/packages/projects/libs/enums/enums.ts
  frontend/src/packages/projects/projects.ts
  frontend/src/pages/my-projects/components/create-project-form/create-project-modal.tsx
  frontend/src/pages/my-projects/components/create-project-form/libs/constants.ts
  frontend/src/pages/my-projects/components/create-project-form/libs/maps/maps.ts
  frontend/src/pages/my-projects/components/create-project-form/libs/maps/project-category-to-readable.map.ts
  frontend/src/pages/my-projects/components/create-project-form/styles.module.scss
  frontend/src/pages/my-projects/components/project-card/project-card.tsx
  frontend/src/slices/projects/actions.ts
  readme.md
  shared/src/index.ts
  shared/src/packages/projects/libs/enums/enums.ts
  shared/src/packages/projects/libs/enums/project-category.enum.ts
  shared/src/packages/projects/libs/enums/project-validation-message.enum.ts
  shared/src/packages/projects/libs/types/project-create-dto.type.ts
  shared/src/packages/projects/libs/types/project-create-request-dto.type.ts
  shared/src/packages/projects/libs/types/project-create-response-dto.type.ts
  shared/src/packages/projects/libs/types/project-get-all-item-response-dto.type.ts
  shared/src/packages/projects/libs/validation-schemas/project-create.validation-schema.ts
  shared/src/packages/projects/projects.ts
Labels: shared, backend, frontend, development, root, sl-v4

#199 sl-173: Start stepper tone of voice
  backend/src/packages/sites/site.service.ts
  frontend/src/libs/components/select/select.module.scss
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/components/select/styles.module.scss
  frontend/src/libs/components/select/styles.ts
  frontend/src/packages/sites/libs/enums/enums.ts
  frontend/src/packages/sites/libs/types/types.ts
  frontend/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/sites/sites.ts
  frontend/src/pages/start/libs/components/components.ts
  frontend/src/pages/start/libs/components/voice-tone-form/libs/constants.ts
  frontend/src/pages/start/libs/components/voice-tone-form/libs/maps/maps.ts
  frontend/src/pages/start/libs/components/voice-tone-form/libs/maps/site-tone-type-to-readable.map.ts
  frontend/src/pages/start/libs/components/voice-tone-form/styles.module.scss
  frontend/src/pages/start/libs/components/voice-tone-form/voice-tone-form.tsx
  frontend/src/pages/start/libs/constants.ts
  frontend/src/pages/start/start.tsx
  shared/src/index.ts
  shared/src/packages/sites/libs/enums/enums.ts
  shared/src/packages/sites/libs/enums/site-tone-type.enum.ts
  shared/src/packages/sites/libs/enums/site-validation-message.enum.ts
  shared/src/packages/sites/libs/types/site-create-request-dto.type.ts
  shared/src/packages/sites/libs/types/site-create-step-tone.type.ts
  shared/src/packages/sites/libs/types/types.ts
  shared/src/packages/sites/libs/validation-schemas/site-create-step-tone.validation-schema.ts
  shared/src/packages/sites/libs/validation-schemas/site-create.validation-schema.ts
  shared/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sites/sites.ts
Labels: shared, backend, frontend, development, sl-v4

#211 sl-209: Extended query to ai
  backend/src/packages/sites/site.service.ts
Labels: backend, development, sl-v4

#210 sl-203: site creation loader
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/pages/my-projects/styles.module.scss
  frontend/src/pages/start/libs/components/components.ts
  frontend/src/pages/start/libs/components/site-creation-loader/site-creation-loader.tsx
  frontend/src/pages/start/libs/components/site-creation-loader/styles.module.scss
  frontend/src/pages/start/start.tsx
  frontend/src/slices/sites/sites.slice.ts
Labels: frontend, development, sl-v4

#213 sl-154: The error message contain extra word on the Change password page
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
Labels: shared, development, sl-v4

#216 sl-147: pages title
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/pages/start/start.tsx
Labels: frontend, development, sl-v4

#205 sl-139: add service section to generated site
  backend/src/db/migrations/20230406083124_add_service_to_enum_sections.ts
  backend/src/packages/sections/libs/types/types.ts
  backend/src/packages/sections/section.service.ts
  backend/src/packages/sites/libs/maps/section-type-to-prompt.map.ts
  backend/src/packages/sites/site.service.ts
  frontend/src/packages/sections/libs/types/types.ts
  frontend/src/packages/sections/sections.ts
  frontend/src/pages/site/components/components.ts
  frontend/src/pages/site/components/service/components/components.ts
  frontend/src/pages/site/components/service/components/service-card/service-card.tsx
  frontend/src/pages/site/components/service/components/service-card/styles.module.scss
  frontend/src/pages/site/components/service/service.tsx
  frontend/src/pages/site/components/service/styles.module.scss
  frontend/src/pages/site/site.tsx
  readme.md
  shared/src/index.ts
  shared/src/packages/sections/libs/enums/section-type.enum.ts
  shared/src/packages/sections/libs/types/site-service-content.type.ts
  shared/src/packages/sections/libs/types/types.ts
  shared/src/packages/sections/sections.ts
Labels: shared, backend, frontend, development, root, sl-v3

#217 sl-191: Space in site name
  shared/src/packages/sites/libs/enums/site-validation-rule.enum.ts
Labels: shared, development, sl-v4

#215 sl-193: Fix pop up Create a new project
  frontend/src/libs/components/modal/modal.tsx
Labels: frontend, development, bug

#223 sl-192: Show Start Project page condition
  frontend/src/pages/my-projects/my-projects.tsx
Labels: frontend, development, sl-v4

#230 sl-153: Fix swagger
  backend/src/libs/packages/server-application/server-app-api.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/projects/project.controller.ts
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/users/user.controller.ts
Labels: backend, development, bug, sl-v4

#233 sl-147: pages title and header
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/page-layout/page-layout.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-title/use-app-title.hook.ts
  frontend/src/pages/account-settings/account-settings.tsx
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/pages/not-found/not-found.tsx
  frontend/src/pages/site/site.tsx
  frontend/src/pages/sites/sites.tsx
  frontend/src/pages/start/start.tsx
Labels: frontend, development, sl-v4

#236 sl-226: The name of the error on the first step (site name)
  shared/src/packages/sites/libs/enums/site-validation-message.enum.ts
Labels: shared, development, bug, sl-v4

#235 sl-196: Fix moved the save button to the left
  frontend/src/pages/account-settings/components/login/components/create-password-form/styles.module.scss
  frontend/src/pages/account-settings/components/login/components/update-login-form/styles.module.scss
Labels: frontend, development, bug

#231 sl-171: Final step design
  frontend/src/libs/types/current-step-form.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/start/libs/components/final-form/final-form.tsx
  frontend/src/pages/start/libs/components/final-form/styles.module.scss
  frontend/src/pages/start/start.tsx
  frontend/src/pages/start/styles.module.scss
Labels: frontend, development, sl-v4

#201 sl-155: The password can be changed with the same value as the current password
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/error-message/error-message.tsx
  frontend/src/libs/components/error-message/style.module.scss
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/components/select/styles.module.scss
Labels: frontend, development, sl-v4

#131 sl-90: search functionality for sites
  backend/src/libs/packages/controller/libs/types/controller-route-parameters.type.ts
  backend/src/packages/sites/libs/types/types.ts
  backend/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/sites/site.repository.ts
  backend/src/packages/sites/site.service.ts
  backend/src/packages/sites/sites.ts
  frontend/src/packages/sites/libs/types/types.ts
  frontend/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/sites/sites-api.ts
  frontend/src/packages/sites/sites.ts
  frontend/src/pages/sites/libs/constants.ts
  frontend/src/pages/sites/sites.tsx
  frontend/src/pages/sites/styles.module.scss
  frontend/src/slices/sites/actions.ts
  frontend/src/slices/sites/sites.slice.ts
  frontend/src/slices/sites/sites.ts
  shared/src/index.ts
  shared/src/packages/sites/libs/enums/site-validation-message.enum.ts
  shared/src/packages/sites/libs/types/site-get-all-by-project-id-request-dto.type.ts
  shared/src/packages/sites/libs/types/site-get-by-project-parameters-dto.type.ts
  shared/src/packages/sites/libs/types/sites-filter-query-dto.type.ts
  shared/src/packages/sites/libs/types/sites-get-all-by-broject-id-parameters-dto.type.ts
  shared/src/packages/sites/libs/types/types.ts
  shared/src/packages/sites/libs/validation-schemas/site-filter.validation-schema.ts
  shared/src/packages/sites/libs/validation-schemas/site-get-by-project-id-parameters.validation-schema.ts
  shared/src/packages/sites/libs/validation-schemas/site-get-by-project.validation-schema.ts
  shared/src/packages/sites/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sites/sites.ts
Labels: shared, backend, frontend, development, sl-v3

#232 sl-220: Deleting expired subscriptions
  backend/package.json
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/packages/task-scheduler/libs/enums/cron-expression.enum.ts
  backend/src/libs/packages/task-scheduler/libs/enums/enums.ts
  backend/src/libs/packages/task-scheduler/task-scheduler.package.ts
  backend/src/libs/packages/task-scheduler/task-scheduler.ts
  backend/src/packages/subscription/subscription.model.ts
  backend/src/packages/subscription/subscription.repository.ts
  backend/src/packages/subscription/subscription.service.ts
  backend/src/packages/subscription/subscription.ts
  backend/src/packages/users/user.entity.ts
  package-lock.json
Labels: backend, development, root, sl-v4

#240 sl-225: Type select field
  frontend/src/libs/components/select/select.tsx
  frontend/src/libs/components/select/styles.module.scss
  frontend/src/libs/components/select/styles.ts
  frontend/src/pages/my-projects/components/create-project-form/create-project-modal.tsx
  frontend/src/pages/my-projects/components/create-project-form/styles.module.scss
  frontend/src/pages/start/libs/components/target-audience-form/target-audience-form.tsx
  frontend/src/pages/start/libs/components/voice-tone-form/voice-tone-form.tsx
Labels: frontend, development, bug, sl-v4

#246 sl-189: Main section image
  backend/src/libs/packages/open-ai/open-ai.ts
  backend/src/packages/sections/section.service.ts
  frontend/src/pages/site/components/main/main.tsx
  frontend/src/pages/site/components/main/styles.module.scss
Labels: backend, frontend, development, sl-v4

#245 sl-218: Fix industry step validation
  shared/src/packages/sites/libs/enums/site-validation-rule.enum.ts
Labels: shared, development, bug, sl-v4

#241 sl-165: Add preview for site
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/pages/sites/components/site-card/site-card.tsx
  frontend/src/pages/sites/components/site-card/styles.module.scss
Labels: frontend, development, sl-v4

#206 sl-145: Pagination to the projects page
  backend/src/packages/projects/project.repository.ts
  backend/src/packages/projects/project.service.ts
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/pagination/pagination.tsx
  frontend/src/libs/components/pagination/styles.module.scss
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
  frontend/src/packages/projects/projects-api.ts
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/pages/my-projects/styles.module.scss
  frontend/src/slices/projects/actions.ts
  frontend/src/slices/projects/projects.slice.ts
  shared/src/packages/projects/libs/enums/project-validation-message.enum.ts
  shared/src/packages/projects/libs/types/project-filter-query-dto.type.ts
  shared/src/packages/projects/libs/types/project-get-all-response-dto.type.ts
  shared/src/packages/projects/libs/validation-schemas/project-filter.validation-schema.ts
Labels: shared, backend, frontend, development, sl-v4

#237 sl-227: Project type
  frontend/src/pages/my-projects/components/create-project-form/libs/constants.ts
  frontend/src/pages/my-projects/components/project-card/project-card.tsx
  frontend/src/pages/my-projects/libs/maps/maps.ts
  frontend/src/pages/my-projects/libs/maps/project-category-to-readable.map.ts
Labels: frontend, development, bug, sl-v4

#234 sl-222: Use project type while querying AI
  backend/src/packages/projects/project.controller.ts
  backend/src/packages/projects/project.repository.ts
  backend/src/packages/projects/project.service.ts
  backend/src/packages/sites/site.service.ts
  shared/src/packages/projects/libs/enums/projects-api-path.enum.ts
Labels: shared, backend, development, sl-v4

#250 sl-239: Fix search in sites page
  frontend/src/pages/sites/sites.tsx
Labels: frontend, development, bug, sl-v4

#214 sl-93: Edit businesses functionality
  backend/src/packages/projects/libs/types/types.ts
  backend/src/packages/projects/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/projects/project.controller.ts
  backend/src/packages/projects/project.entity.ts
  backend/src/packages/projects/project.repository.ts
  backend/src/packages/projects/project.service.ts
  backend/src/packages/projects/projects.ts
  frontend/src/packages/projects/libs/types/types.ts
  frontend/src/packages/projects/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/projects/projects-api.ts
  frontend/src/packages/projects/projects.ts
  frontend/src/pages/my-projects/components/components.ts
  frontend/src/pages/my-projects/components/configurate-project-popup/configurate-project-popup.tsx
  frontend/src/pages/my-projects/components/configurate-project-popup/libs/constants.ts
  frontend/src/pages/my-projects/components/configurate-project-popup/styles.module.scss
  frontend/src/pages/my-projects/components/project-card/project-card.tsx
  frontend/src/pages/my-projects/components/project-card/styles.module.scss
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/slices/projects/actions.ts
  frontend/src/slices/projects/projects.slice.ts
  frontend/src/slices/projects/projects.ts
  shared/src/index.ts
  shared/src/packages/projects/libs/types/project-update-response-dto.type.ts
  shared/src/packages/projects/libs/types/types.ts
  shared/src/packages/projects/libs/validation-schemas/project-update.validation-schema.ts
  shared/src/packages/projects/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/projects/projects.ts
Labels: shared, backend, frontend, development, sl-v4

#212 sl-195: Fix All tabs are underlined in account setting page
  frontend/src/libs/components/link/link.tsx
  frontend/src/pages/account-settings/account-settings.tsx
  frontend/src/pages/account-settings/styles.module.scss
Labels: frontend, development, bug

#228 sl-174: Header section editing
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/sections/libs/enums/enums.ts
  backend/src/packages/sections/libs/maps/maps.ts
  backend/src/packages/sections/libs/maps/section-type-to-update-section-handler.map.ts
  backend/src/packages/sections/libs/types/types.ts
  backend/src/packages/sections/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/sections/section.controller.ts
  backend/src/packages/sections/section.entity.ts
  backend/src/packages/sections/section.repository.ts
  backend/src/packages/sections/section.service.ts
  backend/src/packages/sections/sections.ts
  backend/src/packages/sites/site.controller.ts
  frontend/src/libs/components/input/input.tsx
  frontend/src/packages/sections/libs/enums/enums.ts
  frontend/src/packages/sections/libs/types/types.ts
  frontend/src/packages/sections/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/sections/sections-api.ts
  frontend/src/packages/sections/sections.ts
  frontend/src/packages/sites/sites-api.ts
  frontend/src/pages/site/components/header/header.tsx
  frontend/src/pages/site/components/header/styles.module.scss
  frontend/src/pages/site/components/overlay/overlay.tsx
  frontend/src/pages/site/components/overlay/styles.module.scss
  frontend/src/pages/site/libs/hooks/hooks.ts
  frontend/src/pages/site/libs/hooks/use-section-update/use-section-update.hook.ts
  frontend/src/pages/site/site.tsx
  frontend/src/slices/sections/actions.ts
  frontend/src/slices/sections/sections.slice.ts
  frontend/src/slices/sections/sections.ts
  shared/.eslintrc.yml
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/packages/sections/libs/enums/enums.ts
  shared/src/packages/sections/libs/enums/section-validation-message.enum.ts
  shared/src/packages/sections/libs/enums/sections-api-path.enum.ts
  shared/src/packages/sections/libs/types/section-update-parameters-dto.type.ts
  shared/src/packages/sections/libs/types/section-update-request-dto.type.ts
  shared/src/packages/sections/libs/types/site-header-update-content-dto.type.ts
  shared/src/packages/sections/libs/types/types.ts
  shared/src/packages/sections/libs/validation-schemas/section-update.validation-schema.ts
  shared/src/packages/sections/libs/validation-schemas/site-header-update-content.validation-schema.ts
  shared/src/packages/sections/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sections/sections.ts
Labels: shared, backend, frontend, development, sl-v4

#261 sl-248: Speed up site generation
  backend/src/packages/sections/section.service.ts
  backend/src/packages/sites/site.service.ts
  frontend/src/pages/site/libs/helpers/helpers.ts
  frontend/src/pages/site/libs/maps/maps.ts
  frontend/src/pages/site/libs/maps/section-type-to-position.map.ts
  frontend/src/pages/site/site.tsx
Labels: backend, frontend, development, sl-v4

#249 sl-166: navigation block
  frontend/src/pages/site/components/about/about.tsx
  frontend/src/pages/site/components/feedback/feedback.tsx
  frontend/src/pages/site/components/footer/footer.tsx
  frontend/src/pages/site/components/footer/styles.module.scss
  frontend/src/pages/site/components/header/header.tsx
  frontend/src/pages/site/components/header/styles.module.scss
  frontend/src/pages/site/components/portfolio/portfolio.tsx
  frontend/src/pages/site/components/service/service.tsx
  frontend/src/pages/site/libs/constants.ts
  frontend/src/pages/site/site.tsx
  frontend/src/pages/site/styles.module.scss
Labels: frontend, development, sl-v4

#270 sl-253: domains page
  frontend/src/assets/img/lock.svg
  frontend/src/index.tsx
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/types/icon.type.ts
  frontend/src/pages/account-settings/account-settings.tsx
  frontend/src/pages/account-settings/components/components.ts
  frontend/src/pages/account-settings/components/domain/domain.tsx
  frontend/src/pages/account-settings/components/domain/styles.module.scss
Labels: frontend, development, sl-v4

#263 sl-170: Edit about section in generated site
  backend/src/packages/sections/libs/maps/section-type-to-update-section-handler.map.ts
  backend/src/packages/sections/libs/types/types.ts
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/packages/sections/libs/types/types.ts
  frontend/src/packages/sections/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/sections/sections.ts
  frontend/src/pages/site/components/about/about.tsx
  frontend/src/pages/site/components/about/styles.module.scss
  frontend/src/pages/site/site.tsx
  shared/src/index.ts
  shared/src/packages/sections/libs/enums/section-validation-message.enum.ts
  shared/src/packages/sections/libs/types/site-about-update-content-dto.type.ts
  shared/src/packages/sections/libs/types/types.ts
  shared/src/packages/sections/libs/validation-schemas/section-update.validation-schema.ts
  shared/src/packages/sections/libs/validation-schemas/site-about-update-content.validation-schema.ts
  shared/src/packages/sections/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sections/sections.ts
Labels: shared, backend, frontend, development, sl-v4

#271 sl-177: Edit portfolio section functionality
  backend/src/packages/sections/libs/maps/section-type-to-update-section-handler.map.ts
  backend/src/packages/sections/libs/types/types.ts
  frontend/src/packages/sections/libs/types/types.ts
  frontend/src/packages/sections/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/sections/sections.ts
  frontend/src/pages/site/components/portfolio/portfolio.tsx
  frontend/src/pages/site/components/portfolio/styles.module.scss
  frontend/src/pages/site/site.tsx
  shared/src/index.ts
  shared/src/packages/sections/libs/enums/section-validation-message.enum.ts
  shared/src/packages/sections/libs/types/site-portfolio-update-content-dto.type.ts
  shared/src/packages/sections/libs/types/types.ts
  shared/src/packages/sections/libs/validation-schemas/section-update.validation-schema.ts
  shared/src/packages/sections/libs/validation-schemas/site-portfolio-update-content.validation-schema.ts
  shared/src/packages/sections/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sections/sections.ts
Labels: shared, backend, frontend, development, sl-v4

#247 sl-242: Added getting project name and render it
  frontend/src/packages/projects/projects-api.ts
  frontend/src/pages/sites/sites.tsx
  frontend/src/slices/projects/actions.ts
  frontend/src/slices/projects/projects.slice.ts
  frontend/src/slices/projects/projects.ts
Labels: frontend, development, conflicts, sl-v4

#262 sl-160: Add exit button from site
  backend/src/packages/sites/site.controller.ts
  backend/src/packages/sites/site.repository.ts
  backend/src/packages/sites/site.service.ts
  frontend/src/packages/sites/sites-api.ts
  frontend/src/pages/site/site.tsx
  frontend/src/pages/site/styles.module.scss
  frontend/src/slices/sites/actions.ts
  frontend/src/slices/sites/sites.slice.ts
  frontend/src/slices/sites/sites.ts
  shared/src/packages/sites/libs/enums/sites-api-path.enum.ts
  shared/src/packages/sites/libs/types/site-create-response-dto.type.ts
  shared/src/packages/sites/libs/types/site-get-all-item-response-dto.type.ts
Labels: shared, backend, frontend, development, conflicts, sl-v4

#276 sl-272: edit project button position
  frontend/src/pages/my-projects/components/project-card/project-card.tsx
  frontend/src/pages/my-projects/components/project-card/styles.module.scss
Labels: frontend, development, sl-v4

#273 sl-175: Edit main section in generated site
  backend/src/packages/sections/libs/maps/section-type-to-update-section-handler.map.ts
  backend/src/packages/sections/libs/types/types.ts
  frontend/src/packages/sections/libs/types/types.ts
  frontend/src/packages/sections/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/sections/sections.ts
  frontend/src/pages/site/components/main/main.tsx
  frontend/src/pages/site/components/main/styles.module.scss
  frontend/src/pages/site/site.tsx
  shared/src/index.ts
  shared/src/packages/sections/libs/enums/section-validation-message.enum.ts
  shared/src/packages/sections/libs/types/section-main-update-content-dto.type.ts
  shared/src/packages/sections/libs/types/types.ts
  shared/src/packages/sections/libs/validation-schemas/section-update.validation-schema.ts
  shared/src/packages/sections/libs/validation-schemas/site-main-update-content.validation-schema.ts
  shared/src/packages/sections/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sections/sections.ts
Labels: shared, backend, frontend, development, sl-v4

#279 sl-178: Edit feedback section functionality
  backend/src/packages/sections/libs/maps/section-type-to-update-section-handler.map.ts
  backend/src/packages/sections/libs/types/types.ts
  frontend/src/packages/sections/libs/types/types.ts
  frontend/src/packages/sections/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/sections/sections.ts
  frontend/src/pages/site/components/feedback/components/feedback-card/feedback-card.tsx
  frontend/src/pages/site/components/feedback/components/feedback-card/styles.module.scss
  frontend/src/pages/site/components/feedback/feedback.tsx
  frontend/src/pages/site/components/feedback/styles.module.scss
  frontend/src/pages/site/components/overlay/styles.module.scss
  frontend/src/pages/site/site.tsx
  shared/src/index.ts
  shared/src/packages/sections/libs/enums/section-validation-message.enum.ts
  shared/src/packages/sections/libs/types/site-feedback-update-content-dto.type.ts
  shared/src/packages/sections/libs/types/types.ts
  shared/src/packages/sections/libs/validation-schemas/section-update.validation-schema.ts
  shared/src/packages/sections/libs/validation-schemas/site-feedback-update-content.validation-schema.ts
  shared/src/packages/sections/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sections/sections.ts
Labels: shared, backend, frontend, development, sl-v4

#284 sl-267: user subscription info
  backend/src/packages/users/user.entity.ts
  frontend/src/assets/img/check-on.svg
  frontend/src/libs/components/icon/common.ts
  frontend/src/libs/helpers/get-number-of-days/get-number-of-days.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/types/icon.type.ts
  frontend/src/pages/account-settings/components/subscription/styles.module.scss
  frontend/src/pages/account-settings/components/subscription/subscription.tsx
  shared/src/packages/users/libs/types/user-auth-response.type.ts
Labels: shared, backend, frontend, development, sl-v4

#280 sl-176: Edit services section
  backend/src/packages/sections/libs/maps/section-type-to-update-section-handler.map.ts
  backend/src/packages/sections/libs/types/types.ts
  frontend/src/packages/sections/libs/types/types.ts
  frontend/src/packages/sections/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/sections/sections.ts
  frontend/src/pages/site/components/service/components/service-card/service-card.tsx
  frontend/src/pages/site/components/service/components/service-card/styles.module.scss
  frontend/src/pages/site/components/service/service.tsx
  frontend/src/pages/site/components/service/styles.module.scss
  frontend/src/pages/site/site.tsx
  shared/src/index.ts
  shared/src/packages/sections/libs/enums/section-validation-message.enum.ts
  shared/src/packages/sections/libs/types/site-service-update-content-dto.type.ts
  shared/src/packages/sections/libs/types/types.ts
  shared/src/packages/sections/libs/validation-schemas/section-update.validation-schema.ts
  shared/src/packages/sections/libs/validation-schemas/site-service-update-content.validation-schema.ts
  shared/src/packages/sections/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/sections/sections.ts
Labels: shared, backend, frontend, development, sl-v4

#294 sl-255: projects page loader
  frontend/src/pages/my-projects/components/project-card/project-card.tsx
  frontend/src/pages/my-projects/components/project-card/styles.module.scss
  frontend/src/pages/sites/styles.module.scss
  frontend/src/slices/projects/projects.slice.ts
Labels: frontend, development, sl-v4

#277 sl-260: Remove cancel button
  frontend/src/pages/account-settings/components/subscription/styles.module.scss
  frontend/src/pages/account-settings/components/subscription/subscription.tsx
Labels: frontend, development, bug, sl-v4

#296 sl-281: Final step info
  frontend/src/pages/start/libs/components/final-form/final-form.tsx
Labels: frontend, development, sl-v4

#299 sl-286: Text entry form
  frontend/src/libs/components/input/styles.module.scss
Labels: frontend, development, sl-v4

#295 sl-256: Fix popup jumps when selection is open
  frontend/src/pages/my-projects/components/configurate-project-popup/configurate-project-popup.tsx
  frontend/src/pages/my-projects/components/configurate-project-popup/styles.module.scss
Labels: frontend, development, bug

#293 sl-274: edit section functionality, add underline to editable captions
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/site/components/about/about.tsx
  frontend/src/pages/site/components/about/styles.module.scss
  frontend/src/pages/site/components/feedback/components/feedback-card/feedback-card.tsx
  frontend/src/pages/site/components/feedback/components/feedback-card/styles.module.scss
  frontend/src/pages/site/components/feedback/feedback.tsx
  frontend/src/pages/site/components/feedback/styles.module.scss
  frontend/src/pages/site/components/header/header.tsx
  frontend/src/pages/site/components/header/styles.module.scss
  frontend/src/pages/site/components/main/main.tsx
  frontend/src/pages/site/components/main/styles.module.scss
  frontend/src/pages/site/components/portfolio/portfolio.tsx
  frontend/src/pages/site/components/portfolio/styles.module.scss
Labels: frontend, development, sl-v4

#301 sl-274: Edit serive section caption
  frontend/src/pages/site/components/service/components/service-card/service-card.tsx
  frontend/src/pages/site/components/service/components/service-card/styles.module.scss
  frontend/src/pages/site/components/service/service.tsx
  frontend/src/pages/site/components/service/styles.module.scss
Labels: frontend, development, sl-v4

#302 sl-289: Remove get started button
  frontend/src/pages/site/components/main/main.tsx
  frontend/src/pages/site/components/main/styles.module.scss
Labels: frontend, development, sl-v4

#303 sl-283: Editing the title in the main and about section
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/site/components/about/about.tsx
  frontend/src/pages/site/components/about/styles.module.scss
  frontend/src/pages/site/components/main/main.tsx
Labels: frontend, development, sl-v4

#292 sl-266: disable subscribe button if active subscription exist
  frontend/.eslintrc.yml
  frontend/src/index.d.ts
  frontend/src/libs/components/checkout/checkout.tsx
  frontend/src/libs/components/checkout/styles.scss
  frontend/src/pages/account-settings/components/subscription/subscription.tsx
  frontend/src/pages/account-settings/libs/helpers/check-subscription/check-subscription.ts
  frontend/src/pages/account-settings/libs/helpers/helpers.ts
  frontend/tsconfig.json
Labels: frontend, development, sl-v4

#307 sl-258: editing project photo
  frontend/src/pages/my-projects/components/configurate-project-popup/configurate-project-popup.tsx
Labels: frontend, development, sl-v4

#306 sl-282: The exit button disappears
  frontend/src/assets/css/variables.scss
  frontend/src/pages/site/styles.module.scss
Labels: frontend, development, bug, sl-v4

#309 sl-290: Remove FREE CONSULTATION button
  frontend/src/pages/site/components/service/service.tsx
  frontend/src/pages/site/components/service/styles.module.scss
Labels: sl-v4

#305 sl-252: Restrict site editing
  backend/src/libs/packages/server-application/libs/constants/white-routes.constants.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/plugins/plugins.ts
  backend/src/libs/plugins/section-editing-permission/libs/enums/enums.ts
  backend/src/libs/plugins/section-editing-permission/libs/enums/section-editing-route.enum.ts
  backend/src/libs/plugins/section-editing-permission/section-editing-permission.plugin.ts
  backend/src/packages/sections/section.entity.ts
  backend/src/packages/sections/section.model.ts
  backend/src/packages/sections/section.repository.ts
  backend/src/packages/sections/section.service.ts
  backend/src/packages/sections/sections.ts
  backend/src/packages/sites/site.entity.ts
  backend/src/packages/sites/site.model.ts
  backend/src/packages/sites/site.repository.ts
  backend/src/packages/sites/sites.ts
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/libs/components/tooltip/styles.module.scss
  frontend/src/libs/components/tooltip/tooltip.tsx
  frontend/src/packages/sites/sites-api.ts
  frontend/src/pages/site/components/about/about.tsx
  frontend/src/pages/site/components/feedback/feedback.tsx
  frontend/src/pages/site/components/footer/footer.tsx
  frontend/src/pages/site/components/header/header.tsx
  frontend/src/pages/site/components/main/main.tsx
  frontend/src/pages/site/components/overlay/overlay.tsx
  frontend/src/pages/site/components/overlay/styles.module.scss
  frontend/src/pages/site/components/portfolio/portfolio.tsx
  frontend/src/pages/site/components/service/service.tsx
  frontend/src/pages/site/site.tsx
  shared/src/packages/sites/libs/types/site-get-all-item-response-dto.type.ts
Labels: shared, backend, frontend, development, sl-v4

#325 sl-317: Pictures are not covered by overflow
  frontend/src/assets/css/variables.scss
  frontend/src/pages/site/components/feedback/components/feedback-card/styles.module.scss
Labels: frontend, development, bug, sl-v4

#324 sl-311: Fix - remove scroll from project card
  frontend/src/pages/my-projects/components/project-card/styles.module.scss
Labels: frontend, development, bug

#312 sl-304: subscription description
  frontend/src/libs/components/checkout/checkout.tsx
  frontend/src/libs/components/checkout/styles.scss
  frontend/src/pages/account-settings/components/subscription/styles.module.scss
  frontend/src/pages/account-settings/components/subscription/subscription.tsx
Labels: frontend, development, sl-v4

#316 sl-300: Exit section editing
  frontend/src/pages/site/components/about/about.tsx
  frontend/src/pages/site/components/feedback/components/feedback-card/feedback-card.tsx
  frontend/src/pages/site/components/feedback/feedback.tsx
  frontend/src/pages/site/components/header/header.tsx
  frontend/src/pages/site/components/main/main.tsx
  frontend/src/pages/site/components/overlay/overlay.tsx
  frontend/src/pages/site/components/portfolio/portfolio.tsx
  frontend/src/pages/site/components/service/components/service-card/service-card.tsx
  frontend/src/pages/site/components/service/service.tsx
  frontend/src/pages/site/libs/hooks/use-section-update/use-section-update.hook.ts
Labels: frontend, development, bug, sl-v4

#327 sl-318: Remove line (my sites page)
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/divider/divider.tsx
  frontend/src/libs/components/divider/styles.module.scss
  frontend/src/pages/sites/components/site-card/site-card.tsx
  frontend/src/pages/sites/components/site-card/styles.module.scss
  frontend/src/pages/sites/styles.module.scss
Labels: frontend, development, sl-v4

#329 sl-319: White loader for my projects
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/pages/site/components/footer/footer.tsx
Labels: frontend, development, sl-v4

#332 sl-330: Image generation improvements
  backend/src/packages/sections/section.service.ts
  backend/src/packages/sites/libs/enums/enums.ts
  backend/src/packages/sites/libs/enums/site-image-prompt.enum.ts
  backend/src/packages/sites/libs/maps/section-type-to-prompt.map.ts
  backend/src/packages/sites/site.service.ts
Labels: backend, development, sl-v4

#334 sl-326: Fix main section caption and image
  frontend/src/pages/site/components/main/main.tsx
  frontend/src/pages/site/components/main/styles.module.scss
Labels: frontend, development, sl-v4

#346 sl-336: Account name validation extend reg exp
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
Labels: shared, development, sl-v4

#315 sl-297: Fix pagination styles (my sites)
  frontend/src/pages/sites/sites.tsx
  frontend/src/pages/sites/styles.module.scss
Labels: frontend, development, bug

#351 sl-344: Align footer
  frontend/src/pages/site/components/footer/footer.tsx
  frontend/src/pages/site/components/footer/styles.module.scss
Labels: frontend, development, sl-v4

#350 sl-298: Fix phone number visibility
  frontend/src/pages/site/components/header/styles.module.scss
  frontend/src/pages/site/components/main/main.tsx
  frontend/src/pages/site/components/main/styles.module.scss
Labels: frontend, development, sl-v4

#355 sl-338: Remove "back to all sites"
  frontend/src/pages/site/site.tsx
  frontend/src/pages/site/styles.module.scss
Labels: sl-v4

#348 sl-337: profile editing and subscription notification
  frontend/src/pages/account-settings/components/profile/styles.module.scss
  frontend/src/slices/users/actions.ts
Labels: frontend, development, sl-v4

#356 sl-353: The new site should displayed first
  backend/src/packages/sites/site.repository.ts
Labels: bug, sl-v4

#361 sl-357: Remove cancel button
  frontend/src/pages/account-settings/components/profile/profile.tsx
  frontend/src/pages/account-settings/components/profile/styles.module.scss
Labels: frontend, development, sl-v4

#359 sl-339: Feedback (4 reviews)
  backend/src/packages/sections/section.service.ts
Labels: backend, development, bug, sl-v4

#352 sl-331: Indents before pagination
  frontend/src/pages/my-projects/my-projects.tsx
  frontend/src/pages/my-projects/styles.module.scss
  frontend/src/pages/sites/sites.tsx
  frontend/src/pages/sites/styles.module.scss
Labels: frontend, development, sl-v4

#340 sl-318: Fixed image size and positon
  frontend/src/pages/site/components/main/styles.module.scss
Labels: frontend, development, sl-v4

#364 sl-330: Fix portfolio image generation
  backend/src/packages/sites/libs/maps/section-type-to-prompt.map.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/pages/site/components/portfolio/portfolio.tsx
  shared/src/index.ts
  shared/src/libs/helpers/camel-to-space-separated/camel-to-space-separated.ts
  shared/src/libs/helpers/helpers.ts
Labels: shared, backend, frontend, development, sl-v4

#366 sl-360: Fix header avatar resolution
  frontend/src/libs/components/header/styles.module.scss
Labels: frontend, development, sl-v4

#367 sl-344: Align footer content
  frontend/src/pages/site/components/footer/footer.tsx
  frontend/src/pages/site/components/footer/styles.module.scss
Labels: frontend, development, sl-v4

#369 sl-363: Fix line shifts
  frontend/src/pages/site/components/feedback/components/feedback-card/styles.module.scss
Labels: frontend, development, bug, sl-v4

#370 sl-335: Sign-Up and Change password tooltips (sl-342)
  frontend/src/libs/components/input/input.tsx
  frontend/src/pages/account-settings/components/login/components/create-password-form/create-password-form.tsx
  frontend/src/pages/account-settings/components/login/components/create-password-form/libs/tooltip.constants.ts
  frontend/src/pages/auth/components/sign-up-form/libs/enums/enums.ts
  frontend/src/pages/auth/components/sign-up-form/libs/enums/sign-up-form-tooltip.enum.ts
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: frontend, development, sl-v4

#373 sl-371: Fix icon changing position
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/account-settings/components/login/components/create-password-form/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
Labels: shared, frontend, development, bug, sl-v4

#374 sl-372: The edit button must overlap the frame
  frontend/src/pages/site/components/overlay/styles.module.scss
Labels: frontend, development, sl-v4
